body{
    display: flex;
    flex-flow: column wrap;
    gap: 2rem;
    margin: 16px;
    align-items: center;
}

.container{
    display: flex;
    flex-flow: row wrap;
    width: 960px;
    border: 5px solid black;
}

.box, .select{
    aspect-ratio: 1/1;
    width: calc(100% * (1/64));
    box-sizing: border-box;
    background-color: white;
}

.select{
    background-color: black;
    opacity: 0.1;
}

button{
    box-sizing: border-box;
    height: 35px;
    width: 200px;
    background-color: red;
    color: white;
    font-size: 10px bold;
    font-family: monospace;
    border: 2px solid whitesmoke;
}